templates/controls.html
.vs/ProjectSettings.json
.vs/PythonSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Scoreboard/config/applicationhost.config
.vs/Scoreboard/FileContentIndex/6f8aba3b-3785-42ed-92c4-22bce8918892.vsidx
.vs/Scoreboard/FileContentIndex/51752000-637c-4999-9d8f-5dbd464dcd0e.vsidx
.vs/Scoreboard/FileContentIndex/84f836f2-d480-43b3-8407-78f5396e2415.vsidx
.vs/Scoreboard/v17/.wsuo
.vscode/settings.json
